<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cooking.star.member.MemberMapper">
 
 <insert id="join" parameterType="MemberDTO" >
 INSERT INTO "COOK_MEMBER"
 VALUES (#{username},#{password},#{name},#{email})
 
 
 </insert>
 
 <select id="login" parameterType="MemberDTO" resultType="MemberDTO">
 SELECT * FROM "COOK_MEMBER"
 WHERE "USERNAME"=#{username}
 
 
 </select>
 
 
 
 
 
 
 
 
 
 
 
 
 
 </mapper>