<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cooking.star.good.GoodMapper">
  
  <select id="count" parameterType="GoodDTO" resultType="int" >
  SELECT COUNT(*) FROM "RECIPE_GOOD"
  WHERE "RECIPE_NUM"=#{recipeNum}
  AND "USERNAME"=#{username}
  
  </select>
  
  <insert id="good" parameterType="GoodDTO">
  	INSERT INTO "RECIPE_GOOD" ("RECIPE_NUM","USERNAME")
  	VALUES (#{recipeNum},#{username})
  </insert>
  
  <delete id="goodDelete" parameterType="GoodDTO">
  DELETE FROM "RECIPE_GOOD"
  WHERE "RECIPE_NUM"=#{recipeNum}
  AND "USERNAME"=#{username}
  
  </delete>
  
  <update id="goodUp" parameterType="MyRecipeDTO">
  UPDATE "COOK_MYRECIPE"
  SET "RECIPE_GOOD_COUNT"="RECIPE_GOOD_COUNT"+1
  WHERE "RECIPE_NUM"=#{recipeNum}
  </update>
  
  <update id="goodDown" parameterType="MyRecipeDTO">
  UPDATE "COOK_MYRECIPE"
  SET "RECIPE_GOOD_COUNT"= GREATEST("RECIPE_GOOD_COUNT" - 1, 0)
  WHERE "RECIPE_NUM"=#{recipeNum}
  </update>
  <select id="getGoodCount" parameterType="GoodDTO" resultType="int">
    SELECT "RECIPE_GOOD_COUNT" FROM "COOK_MYRECIPE"
    WHERE "RECIPE_NUM" = #{recipeNum}
  </select>
  
  
  
  </mapper>
