<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cooking.star.buylist.BuyListMapper">
  <select id="getBuyList" parameterType="BuyListDTO" resultType="BuyListDTO">
    SELECT *
       
        FROM "BUY_LIST"
    WHERE "USERNAME" = #{username}
    ORDER BY "BUY_NUM" DESC
</select>
  
  <insert id="setBuyList" parameterType="BuyListDTO">
  INSERT INTO "BUY_LIST"
  VALUES (DEFAULT,#{username},#{productName},#{productPrice},#{productEa},#{buyPrice})
  </insert>
  
  


  </mapper>