<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooking.star.myrecipe.MyRecipeMapper">
	<sql id="search_sql">
		WHERE
		<choose>
			<when test="kind=='v2'">"RECIPE_NUM"</when>
			<when test="kind=='v2'">"USERNAME"</when>
			<otherwise>"RECIPE_TITLE"</otherwise>
		</choose>
		LIKE CONCAT('%',#{search},'%')
	</sql>

	<select id="getCount" parameterType="Pager" resultType="Long">
		SELECT COUNT("RECIPE_NUM") FROM "COOK_MYRECIPE"
		<include refid="search_sql"></include>
	</select>

	<insert id="create" parameterType="MyRecipeDTO" keyProperty="recipeNum" useGeneratedKeys="true">
		INSERT INTO "COOK_MYRECIPE"
		VALUES
		(DEFAULT,#{username},#{recipeTitle},#{recipeContents},#{recipeGood},#{recipeHit},now())
	</insert>

	<insert id="addRecipeimg" parameterType="RecipeFileDTO">
	INSERT INTO "RECIPE_FILE"
	VALUES (DEFAULT,#{recipeNum},#{fileName},#{oriName})
	</insert>
	
	<select id="allList" parameterType="Pager" resultType="MyRecipeDTO">
		SELECT * FROM "COOK_MYRECIPE"
		<include refid="search_sql"></include>
		LIMIT #{perPage} OFFSET #{startNum}
	</select>
	
	<resultMap type="MyRecipeDTO" id="recipeResult">
	<id column="RECIPE_NUM" property="recipeNum"/>
	<result column="USERNAME" property="username"/>
	<result column="RECIPE_TITLE" property="recipeTitle"/>
	<result column="RECIPE_CONTENTS" property="recipeContents"/>
	<result column="RECIPE_GOOD" property="recipeGood"/>
	<result column="RECIPE_HIT" property="recipeHit"/>
	<result column="RECIPE_DATE" property="recipeDate"/>
	
	<association property="recipeFileDTO" javaType="RecipeFileDTO">
	<id column="FILE_NUM" property="fileNum"/>
	<result column="RECIPE_NUM" property="recipeNum"/>
	 <result column="FILE_NAME" property="fileName"/>
	 <result column="ORI_NAME" property="oriName"/>
	 
	</association>
	</resultMap>
	
	<select id="mylist" parameterType="MyRecipeDTO" resultMap="recipeResult" resultType="MyRecipeDTO">
	SELECT * FROM "COOK_MYRECIPE"m
	LEFT JOIN
	"RECIPE_FILE"f
	USING("RECIPE_NUM")
	WHERE "USERNAME"=#{username}
	LIMIT #{perPage} OFFSET #{startNum}
	</select>
	<select id="detail" parameterType="MyRecipeDTO" resultMap="recipeResult">
	SELECT * FROM "COOK_MYRECIPE"m
	LEFT JOIN
	"RECIPE_FILE"f
	USING("RECIPE_NUM")
	WHERE "RECIPE_NUM"=#{recipeNum}
	</select>
	
	<update id="update" parameterType="MyRecipeDTO">
	UPDATE "COOK_MYRECIPE"
	<set>
		<if test="recipeTitle !=null">"RECIPE_TITLE" =#{recipeTitle},</if>
		<if test="recipeContents !=null">"RECIPE_CONTENTS" =#{recipeContents}</if>
	</set>
	WHERE "RECIPE_NUM"=#{recipeNum}
	</update>
	
	<!-- 파일정보 가져오기 -->
	<select id="getFileDetail" parameterType="MyRecipeDTO" resultType="RecipeFileDTO">
	SELECT * FROM "RECIPE_FILE"
	WHERE "RECIPE_NUM" = #{recipeNum}
	</select>
	<!-- 파일삭제 -->
	<delete id="fileDelete" parameterType="RecipeFileDTO">
	DELETE FROM "RECIPE_FILE"
	WHERE "FILE_NUM" = #{fileNum}
	</delete>
</mapper>