<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooking.star.myrecipe.MyRecipeMapper">
	<sql id="search_sql">
		WHERE
		<choose>
			<when test="kind=='v2'">"RECIPE_NUM"</when>
			<when test="kind=='v2'">"USERNAME"</when>
			<otherwise>"RECIPE_TITLE"</otherwise>
		</choose>
		LIKE CONCAT('%',#{search},'%')
	</sql>

	<select id="getCount" parameterType="Pager" resultType="Long">
		SELECT COUNT("RECIPE_NUM") FROM "COOK_MYRECIPE"
		<include refid="search_sql"></include>
	</select>

	<insert id="create" parameterType="MyRecipeDTO" keyProperty="recipeNum" useGeneratedKeys="true">
		INSERT INTO "COOK_MYRECIPE"
		VALUES
		(DEFAULT,#{username},#{recipeTitle},#{recipeContents},#{recipeGood},#{recipeHit},now())
	</insert>

	<insert id="addRecipeimg" parameterType="RecipeFileDTO">
	INSERT INTO "RECIPE_FILE"
	VALUES (DEFAULT,#{recipeNum},#{fileName},#{oriName})
	</insert>
	
	<select id="list" parameterType="Pager" resultType="MyRecipeDTO">
		SELECT * FROM "COOK_MYRECIPE"
		<include refid="search_sql"></include>
		LIMIT #{perPage} OFFSET #{startNum}
	</select>
	
	<resultMap type="MyRecipeDTO" id="recipeResult">
	<id column="RECIPE_NUM" property="recipeNum"/>
	<result column="USERNAME" property="username"/>
	<result column="RECIPE_TITLE" property="recipeTitle"/>
	<result column="RECIPE_CONTENTS" property="recipeContents"/>
	<result column="RECIPE_GOOD" property="recipeGood"/>
	<result column="RECIPE_HIT" property="recipeHit"/>
	<result column="RECIPE_DATE" property="recipeDate"/>
	
	<association property="recipeFileDTO" javaType="RecipeFileDTO">
	<id column="FILE_NUM" property="fileNum"/>
	<result column="RECIPE_NUM" property="recipeNum"/>
	 <result column="FILE_NAME" property="fileName"/>
	 <result column="ORI_NAME" property="oriName"/>
	 
	</association>
	</resultMap>
	
	<select id="myList" parameterType="MyRecipeDTO" resultMap="recipeResult">
	SELECT * FROM "COOK_MYRECIPE"m
	LEFT JOIN
	"RECIPE_FILE"f
	USING("RECIPE_NUM")
	WHERE "USERNAME"=${username}
	</select>
	<select id="detail" parameterType="MyRecipeDTO" resultMap="recipeResult">
	SELECT * FROM "COOK_MYRECIPE"m
	LEFT JOIN
	"RECIPE_FILE"f
	USING("RECIPE_NUM")
	WHERE "RECIPE_NUM"=${recipeNum}
	</select>
</mapper>